@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #3A4F7A;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #FFC6D3;
    font-size: 32px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

.subtitulo {
    color: #FEA1BF;
    font-size: 20px;

}

.tarjetas, .tarjetas-ataque {
    display: flex;
    gap: 10px;
}

.tarjetas-mokemon {
    width: 200px;
    height: 100px;
    background-color: #E98EAD;
    color: #3A4F7A;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas-mokemon img {
    width: 80px;
}

.tarjetas-mokemon:hover {
    cursor: pointer;
    background-color: #FFADBC;
    text-shadow: #E98EAD;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: #FFC6D3;
    font-family: 'Orbitron', sans-serif;
    margin-top: 30px;
    border-color: #E98EAD;
  }

#boton-mascota:hover {
    cursor: pointer;
    border-color: #FFADBC;
    border: 3px solid;
}

#boton-mascota:active {
    background-color: pink;
}

input {
    display: none;
}

input:checked + label {
    background-color: pink;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.btn-ataque {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: azure;
    font-family: 'Orbitron', sans-serif;
    margin-top: 30px;
    border-color: #E98EAD;
    margin: 10px;
}

#btn-ataque:hover {
    cursor: pointer;
    border-color: #FFADBC;
    border: 3px solid;
    box-shadow: 5px 5px 5px black;
}

.fuego {
    background: darkorange;
}

.agua {
    background: cornflowerblue;
}

.tierra {
    background: darkgoldenrod;
}

#mensajes {
    width: 280px;
    background-color: pink;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color:#3A4F7A;
    font-family: 'Orbitron', sans-serif;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: azure;
    font-family: 'Orbitron', sans-serif;
    margin-top: 30px;
    border-color: #E98EAD;
    margin: 5px 0;
}

#mapa {
    border: 2px solid white;
}

@media (max-width: 560px) {
    .tarjetas, .tarjetas-ataque {
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction:column;
    }
}